<ul class="nav nav-pills nav-justify-content">
  <li class="nav-item">
    <a class="nav-link active" href="<%= Routes.page_path(@conn, :index) %>">Strona główna</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= Routes.book_path(@conn, :index) %>">Lista książek</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= Routes.cart_path(@conn, :index) %>">Mój koszyk</a>
  </li>
</ul>
