<table>
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
      <th>Cena</th>
      <th>Stan</th>
      <th>Sprzedana?</th>
    </tr>
  </thead>
  <tbody>
    <%= for book <- @books do %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.price %></td>
      <td><%= book.condition.name %></td>
      <td><%= book.sold %></td>
    </tr>
    <% end %>
  </tbody>
</table>
