<table>
  <tr>
    <th>Tytuł<th>
    <td><%= @book.title %></td>
    <th>Autor<th>
    <td><%= @book.author %></td>
    <th>Cena<th>
    <td><%= @book.price %></td>
    <th>Stan<th>
    <td><%= @book.condition.name %></td>
  </tr>
</table>
